*{
    padding:0;
    margin:0;
    background-color: #1d5fa1;
}

body{
    font-family: verdana,Geneva,Tahoma,
    sans-serif
}

.container{
    width:100%;
    max-width:600px;
    margin:0 auto;
    text-align: center;
}

.input{
    display:flex;
    justify-content: center;
    margin-top:50px;
}

.input input{
    padding:10px;
    border:2px solid #fff;
    border-radius:5px;
    font-size:16px;
    width:200px;
    margin:auto;
}

.input button{
    padding:10px;
    background-color: #0099ff;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.weather-box{
    height:200px;
    border:5px  solid black;
    margin-top:50px;
    padding:30px;
    border-radius:5px;
    background-color: #b2d1ec;
}

.icon{
    font-size:50px;
    margin-bottom:20px;
}

.temperature{
    font-size:30px;
    margin-bottom:10px;
}
